<nav class="navbar navbar-light">
    <div class="container-fluid mb-2">
      <div></div>
      <span class="navbar-brand mb-0 h1">Result Management System</span>
      <div><a href="http://localhost:4200"><button class="btn logoutButton"><b>Logout</b></button></a></div>
    </div>
  </nav>